body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:612px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:50px;
  width:292px;
  height:90px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:90px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:50px;
  width:200px;
  height:292px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u3 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:161px;
  width:160px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:340px;
  top:3px;
  width:97px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
