body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:3px;
  width:65px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:90px;
  top:50px;
  width:200px;
  height:292px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u3 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:50px;
  width:200px;
  height:25px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:340px;
  top:50px;
  width:200px;
  height:292px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u7 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:340px;
  top:50px;
  width:200px;
  height:25px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:379px;
  top:148px;
  width:122px;
  height:52px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:52px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:570px;
  top:50px;
  width:230px;
  height:270px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:270px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:158px;
  top:312px;
  width:63px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:226px;
  top:312px;
  width:63px;
  height:30px;
  color:#CCCCCC;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:90px;
  top:312px;
  width:63px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:408px;
  top:312px;
  width:63px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:476px;
  top:312px;
  width:63px;
  height:30px;
  color:#CCCCCC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:340px;
  top:312px;
  width:63px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:390px;
  top:190px;
  width:99px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:390px;
  top:230px;
  width:99px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:100px;
  top:85px;
  width:80px;
  height:80px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u31 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:100px;
  top:175px;
  width:80px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:100px;
  top:203px;
  width:150px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:100px;
  top:229px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:216px;
  top:110px;
  width:34px;
  height:29px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
