body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:702px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:280px;
  top:160px;
  width:422px;
  height:38px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:38px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  white-space:nowrap;
}
