body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:320px;
  top:3px;
  width:129px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:90px;
  top:50px;
  width:200px;
  height:292px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u3 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:50px;
  width:200px;
  height:25px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:75px;
  width:100px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:350px;
  top:390px;
  width:200px;
  height:292px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u9 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:350px;
  top:390px;
  width:200px;
  height:25px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:570px;
  top:54px;
  width:230px;
  height:386px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:386px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:190px;
  top:75px;
  width:100px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:110px;
  top:317px;
  width:130px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:240px;
  top:317px;
  width:50px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:90px;
  top:317px;
  width:20px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:134px;
  top:168px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:240px;
  top:50px;
  width:50px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:91px;
  top:390px;
  width:200px;
  height:292px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u23 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:91px;
  top:390px;
  width:200px;
  height:25px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:251px;
  top:390px;
  width:40px;
  height:25px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:91px;
  top:425px;
  width:45px;
  height:45px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:91px;
  top:480px;
  width:45px;
  height:45px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:246px;
  top:425px;
  width:45px;
  height:45px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:194px;
  top:425px;
  width:45px;
  height:45px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:143px;
  top:425px;
  width:45px;
  height:45px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:143px;
  top:480px;
  width:45px;
  height:45px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:117px;
  top:454px;
  width:19px;
  height:16px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:169px;
  top:454px;
  width:19px;
  height:16px;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:220px;
  top:454px;
  width:19px;
  height:16px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:272px;
  top:454px;
  width:19px;
  height:16px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:117px;
  top:509px;
  width:19px;
  height:16px;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:169px;
  top:509px;
  width:19px;
  height:16px;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:91px;
  top:657px;
  width:200px;
  height:25px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:91px;
  top:657px;
  width:40px;
  height:25px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:251px;
  top:657px;
  width:40px;
  height:25px;
  color:#009900;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:27px;
  top:547px;
  width:200px;
  height:100px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u59 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:91px;
  top:730px;
  width:200px;
  height:292px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u61 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:91px;
  top:730px;
  width:200px;
  height:292px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u63 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:231px;
  top:730px;
  width:60px;
  height:25px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:123px;
  top:1048px;
  width:135px;
  height:16px;
  color:#FF0000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:359px;
  top:425px;
  width:45px;
  height:45px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u69 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:366px;
  top:480px;
  width:30px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:428px;
  top:425px;
  width:45px;
  height:45px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u73 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:434px;
  top:480px;
  width:30px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:483px;
  top:425px;
  width:45px;
  height:45px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u77 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:490px;
  top:480px;
  width:30px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:359px;
  top:519px;
  width:45px;
  height:45px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u81 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:366px;
  top:574px;
  width:30px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:428px;
  top:519px;
  width:45px;
  height:45px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u85 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:434px;
  top:574px;
  width:30px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:361px;
  top:593px;
  width:176px;
  height:45px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:45px;
}
#u89 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:361px;
  top:648px;
  width:176px;
  height:22px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
}
#u91 {
  position:absolute;
  left:2px;
  top:3px;
  width:172px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:340px;
  top:50px;
  width:200px;
  height:292px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u93 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:340px;
  top:50px;
  width:200px;
  height:25px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u95 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:340px;
  top:96px;
  width:60px;
  height:60px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u97 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:410px;
  top:96px;
  width:60px;
  height:60px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u99 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:480px;
  top:96px;
  width:60px;
  height:60px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:340px;
  top:166px;
  width:60px;
  height:60px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u103 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:410px;
  top:166px;
  width:60px;
  height:60px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u105 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:480px;
  top:166px;
  width:60px;
  height:60px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u107 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:340px;
  top:236px;
  width:60px;
  height:60px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u109 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:410px;
  top:236px;
  width:60px;
  height:60px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u111 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:340px;
  top:80px;
  width:65px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:340px;
  top:306px;
  width:65px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:340px;
  top:322px;
  width:60px;
  height:20px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:411px;
  top:322px;
  width:60px;
  height:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:480px;
  top:322px;
  width:60px;
  height:20px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:174px;
  top:342px;
  width:25px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:433px;
  top:682px;
  width:25px;
  height:16px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:428px;
  top:342px;
  width:25px;
  height:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:166px;
  top:682px;
  width:25px;
  height:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:178px;
  top:1022px;
  width:25px;
  height:16px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:560px;
  top:598px;
  width:200px;
  height:84px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:84px;
}
#u133 {
  position:absolute;
  left:2px;
  top:34px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:600px;
  top:608px;
  width:131px;
  height:32px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:32px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:600px;
  top:650px;
  width:60px;
  height:25px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u137 {
  position:absolute;
  left:671px;
  top:650px;
  width:60px;
  height:25px;
}
#u137_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u138 {
  position:absolute;
  left:350px;
  top:730px;
  width:200px;
  height:292px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u139 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:350px;
  top:730px;
  width:200px;
  height:25px;
  color:#FFFFFF;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u141 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:359px;
  top:788px;
  width:45px;
  height:45px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u143 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:366px;
  top:843px;
  width:30px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:428px;
  top:788px;
  width:45px;
  height:45px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u147 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:434px;
  top:843px;
  width:30px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:493px;
  top:788px;
  width:45px;
  height:45px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u151 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:500px;
  top:843px;
  width:30px;
  height:16px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:359px;
  top:859px;
  width:45px;
  height:45px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u155 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:366px;
  top:914px;
  width:30px;
  height:16px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:428px;
  top:859px;
  width:45px;
  height:45px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u159 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:434px;
  top:914px;
  width:30px;
  height:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:433px;
  top:1022px;
  width:25px;
  height:16px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:359px;
  top:765px;
  width:79px;
  height:16px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:361px;
  top:967px;
  width:45px;
  height:45px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u167 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:430px;
  top:967px;
  width:45px;
  height:45px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u169 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:495px;
  top:967px;
  width:45px;
  height:45px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u171 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:361px;
  top:944px;
  width:79px;
  height:16px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:388px;
  top:788px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u175 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:463px;
  top:788px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:518px;
  top:788px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u179 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:388px;
  top:859px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u181 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:464px;
  top:859px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u183 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:520px;
  top:967px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:465px;
  top:967px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:390px;
  top:967px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
