body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:612px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:50px;
  width:200px;
  height:292px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:292px;
}
#u1 {
  position:absolute;
  left:2px;
  top:138px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:320px;
  top:3px;
  width:129px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:90px;
  top:75px;
  width:200px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:165px;
  width:200px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:123px;
  width:60px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:320px;
  top:50px;
  width:292px;
  height:144px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:144px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:50px;
  width:200px;
  height:25px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:99px;
  top:88px;
  width:55px;
  height:55px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u15 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:170px;
  top:97px;
  width:100px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:100px;
  top:170px;
  width:40px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:150px;
  top:177px;
  width:100px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:220px;
  top:175px;
  width:60px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:90px;
  top:205px;
  width:200px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:100px;
  top:210px;
  width:40px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:150px;
  top:217px;
  width:100px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:220px;
  top:215px;
  width:60px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:90px;
  top:245px;
  width:200px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:100px;
  top:250px;
  width:40px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:150px;
  top:257px;
  width:100px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:220px;
  top:255px;
  width:60px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:90px;
  top:285px;
  width:200px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:100px;
  top:290px;
  width:40px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:150px;
  top:297px;
  width:100px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:220px;
  top:295px;
  width:60px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
